{% extends "base.html" %}

{% block content %}
                <div class="page-header">
                    <img width="125" src="/static/images/large-opt.png" class="pull-right">
                    <h1>Monster Zoo - Playtest</h1>
                </div>
                <p class="lead">Read the <a data-toggle="modal" href="#rules"><code>quickplay rules</code></a> (note: the online version is slightly different from the full rules).</p>
                <!-- Modal -->
                <div class="modal fade" id="rules">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">Game Rules</h3>
                            </div>
                            <div class="modal-body">
                                <p>Monster Zoo is a deckbuilding game for 2-4 players.</p>
                                <p><b>Goal</b></p>
                                <p>Be the first player to build a Zoo worth 30 points.</p>
                                <p><b>How to Play</b></p>
                                <p>During your turn:</p>
                                <p><ul>
                                    <li>Play any number of cards from your hand.</li>
                                    <li>Use Food to catch cards from The Wild (middle set of cards).</li>
                                    <li>Caught cards will be placed into your discard pile. When you run out of cards in your deck, your discard pile will become your new deck.</li>
                                    <li>Move Monsters into your Zoo for points.</li>
                                    <li>Card with "Zoo Effects" give you a bonus at the beginning of your turn.</li>
                                </ul></p>
                                <p>End of turn:</p>
                                <p><ul>
                                    <li>Draw until you have at least 5 cards in your hand.</li>
                                </ul></p>
                                <p><b>Playtest Notes:</b></p>
                                <p>This is a buggy play test system and the game may potentially break on you. Many of the cards/features from the game are not fully developed in the online version yet. Thanks for testing!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div> <!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /modal -->

                <!-- Modal -->
                <div class="modal fade" id="win-message">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>GAME OVER</h3>
                            </div>
                            <div class="modal-body">
                                <p>You win! Great job.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div> <!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /modal -->
                <!-- Modal -->
                <div class="modal fade" id="lose-message">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>GAME OVER</h3>
                            </div>
                            <div class="modal-body">
                                <p>You lost! Better luck next time.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div> <!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /modal -->
                <div id="main">
                        <h2>Game Area</h2>
                        <!-- Event
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="page-header">Event</h3>
                                <div id="event">
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-8">
                                <h3 class="page-header">Opponent</h3>
                                <!-- Area for Player 2 Content -->
                                <div id="player2">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="page-header">Zoo</h3>
                                <div id="player2-zoo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <h3 class="page-header">The Wild</h3>
                                <!-- Area for The Wild Content -->
                                <div id="wild">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="page-header">Scoreboard</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="33%">Player</th>
                                            <th width="33%"><span class="glyphicon glyphicon-cutlery"></span> Food</th>
                                            <th width="33%"><span class="glyphicon glyphicon-certificate"></span> Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>You</td>
                                            <td id="player1-food" class="warning"></td>
                                            <td id="player1-score" class="success"></td>
                                        </tr>
                                        <tr>
                                            <td>Opponent</td>
                                            <td id="player2-food" class="warning"></td>
                                            <td id="player2-score" class="danger"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="33%">Player</th>
                                            <th width="33%"><span class="glyphicon glyphicon-align-justify"></span> Deck</th>
                                            <th width="33%"><span class="glyphicon glyphicon-trash"></span> Discard</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>You</td>
                                            <td id="player1-deck" class="active"></td>
                                            <td id="player1-discard" class="active"></td>
                                        </tr>
                                        <tr>
                                            <td>Opponent</td>
                                            <td id="player2-deck" class="active"></td>
                                            <td id="player2-discard" class="active"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3 class="pageheader">Cards Played</h3>
                                <div id="cards-played"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                            <h3 class="page-header">You
                            <button id="turn-player1" type="button" class="btn btn-danger btn-sm">End Turn</button>
                            <button id="discard-player1" type="button" class="btn btn-warning btn-sm">Discard & End Turn</button>
                            </h3>
                                <!-- Area for Player 1 Content -->
                                <div id="player1">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="page-header">Zoo</h3>
                                <div id="player1-zoo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="page-header">Chat Area</h2>
                                <div id="chat">
                                    <!--
                                    <div id="nickname">
                                        <form id="login-form">
                                            <p>Please type in your nickname and press enter.</p>
                                            <input id="username">
                                        </form>
                                    </div>
                                    -->
                                    <div id="messages">
                                        <div id="lines"></div>
                                    </div>
                                </div>
                                <div>
                                    <form id="send-message">
                                        <input id="message">
                                        <button>Send</button>
                                    </form>
                                </div>
                                <div id="game">
                                    <div id="opponent">
                                    </div>
                                    <div id="wild">
                                    </div>
                                    <div id="player">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="page-header">Play History</h2>
                                <div id="play-history">
                                    <div id="play-messages">
                                        <div id="play-lines"></div>
                                    </div>
                                </div>
                        </div>
                </div>
        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="/static/js/monsterzoo.js"></script>
    <div class="modal fade" id="waiting-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content text-left">
                <div class="modal-header">
                    <button type="button" class="close" data-controls-modal="waiting-modal"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Waiting on More Players</h3>
                </div>
                <div class="modal-body text-center">
                    <p class="lead">Tell your friends to join this game:</p>
                    <p>Game ID: {{ game_id }}</p>
                </div>
            </div> <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /modal -->
{% endblock content %}